@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    color: #fff;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

input {
    outline: none;
    background: none;
    border: 1px solid #8758ff;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    width: 300px;
    color: #fff;
}

input::placeholder {
    color: #ffffff4d;
}

button {
    background: #8758ff;
    color: #fff;
    border: none;
    padding: 0.55rem 1rem;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #1A1A40;
    color: #fff;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.error {
    color: red;
    margin-top: 0.5rem;
    text-align: center;
}
